.button {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: var(--button-color-text);
  background: var(--button-background);
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 0.7;
}

.icon {
  width: 40px;
  height: 40px;
  padding: 0;
}
